{% extends 'base.html.twig' %}

{% block title %}Planes{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Planes</h1>

    {% if planesKM is defined %}
    {% for plane in planesKM %}
    <hr>
    <ul id="{{ plane.id }}">
        <li>Name : {{ plane.label }} </li>
        <li>Capacity : {{ plane.seats }} </li>
        <li>Created at: -</li>
        <li>Updated at: -</li>
    </ul>
    {% endfor %}
    {% endif %}

    {% if planesMP is defined %}
    {% for plane in planesMP.data %}
    <hr>
    <ul id="{{ plane.id }}">
        <li>Name: {{plane.name}}</li>
        <li>Capacity: {{plane.capacity}}</li>
        <li>Created at: {{plane.created_at}}</li>
        <li>Updated at: {{plane.updated_at}}</li>
    </ul>
    {% endfor %}
    {% endif %}

</div>
{% endblock %}