{% extends 'base.html.twig' %}

{% block title %}Reservations{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Reservations</h1>

    {% if reservationsKM is defined %}
    {% for reservation in reservationsKM %}
    <hr>
    <ul id="{{ reservation.id }}">
        <li>Flight ID : {{ reservation.flight }} </li>
        <li>Seats : {{ reservation.seats }} </li>
        <li>Payment date : {{ reservation.paymentDate }} </li>
        <li>Amount : {{ reservation.amount }} </li>
        <li>Buyer name : -</li>
        <li>Created at : -</li>
        <li>Updated at : -</li>
    </ul>
    {% endfor %}
    {% endif %}

    {% if reservationsMP is defined %}
    {% for reservation in reservationsMP.data %}
    <ul id="{{ reservation.id }}">
        <li>Flight ID : {{reservation.flight_id}}</li>
        <li>Seats: {{reservation.seats}}</li>
        <li>Payment date : - </li>
        <li>Amount : - </li>
        <li>Buyer name: {{reservation.buyer_name}}</li>
        <li>Created at: {{reservation.created_at}}</li>
        <li>Updated at: {{reservation.updated_at}}</li>
    </ul>
    {% endfor %}
    {% endif %}

</div>
{% endblock %}